<div class="row">
  <div class="col-12 col-md-6">
    <%= f.hidden_field :print_size_id, value: @print_size.id %>
    <div class="form-group">
      <%= f.label :moulding_type_id, Spree.t(:moulding_type) %>
      <%= f.select :moulding_type_id, options_from_collection_for_select(CustomFrame::MouldingType.all.order(:id), 'id', 'name', @object.moulding_type_id), {}, { class: 'select2' } %>
    </div>
    <div class="form-group">
      <%= f.label :price, 'Price' %>
      <%= f.text_field :price, class: 'form-control' %>
    </div>
  </div>
</div>
