<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @object } %>

<% content_for :page_title do %>
  <%= Spree.t(:new_price) %>
<% end %>

<%= form_for @object, url: admin_custom_frame_print_size_custom_frame_moulding_type_prices_url, as: :custom_frame_moulding_type_price, html: { multipart: true } do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.create'), 'save.svg' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.admin_custom_frame_print_size_custom_frame_moulding_type_prices_url(@print_size), icon: 'delete.svg', id: 'cancel_link' %>
    </div>
  </fieldset>
<% end %>
