<div class="md:text-lg md:leading-lg">
  <div class="text-grey50"><%= address.full_name %></div>
  <div class="text-grey50"><%= "#{address.address1} #{address.address2}" %></div>
  <div class="text-grey50"><%= address.city %></div>
  <div class="text-grey50"><%= address.zipcode %></div>
  <div class="text-grey50"><%= address.country.name %></div>
</div>
